footer {
  text-align: center;
}

footer a {
  text-decoration: none;
}

.container {
  padding-right: 2rem;
  padding-left: 2rem;
}

/* Examples */
ul.examples {
  list-style: none;
}

a.class-name {
  padding: 4px;
  border-radius: 6px;
  background-color: #333;
  color: white;
}

a.class-name:hover {
  color: #bbb;
}

.desc {
  padding: 4px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

.example-svg {
  width: 420px;
  height: 360px;
}

.svg-real-db-text-cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

